#thisismybody {
    margin: 0 auto;
    padding: 0 auto;
    max-width: fit-content;
    max-height: fit-content;
    background-color: #F3EEE7; 
}


#HeroImage {
    width: 100vw;
    height: 690px;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
}


































